/* css styles */

div.sourceCode{
  background-color: black;
}


/* navbar kink */


@media screen and (min-width: 999px) {
  .navbar .navbar-nav .nav-link {
    color: #ffd700;
    font-size: 1rem;
    text-transform: uppercase;
   
  }
  .navbar .navbar-nav .nav-link:hover {
    color: #ffd700;
  }
  .navbar .navbar-nav .nav-item {
    position: relative;
  }
  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    width: 0%;
    content: "";
    height: 1px;
    transition: all 0.2s;
  }
  
.navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
  }
}

.navbar-brand>img {
    max-height: 48px;
    width: auto;
    padding-right: 6px;
}

.nav-footer a{
  color: white;
}

.active {
  border-bottom: 1px solid white;
}

.navbar-brand {
    position: relative;
    width: 200px;
    left: 15px;
    background-size: contain;
}



h1 {
  font-size: 2em;
  color: white;
  font-weight: 400;
}

h2 {
  font-size: 1.7em;
  color: #51AA75;
}

.no-anchor.listing-title a {
    color: #fca649; 
    font-size: .95em;
    font-family: 'Nova Square';
}


.listing-title{
  color: #fca649;
  text-decoration: underline;
  font-weight: 700;
}

h3 code {
  /* Your desired styles */
  color: #800080 !important;
}

.listing-description a code {
  /* Your desired styles */
  color: #800080 !important;
}
